:root{
        --bg--color:#d1dedd;
        --max--width:1200px;
        --h--color :#767f7e;
        --p--color : #828b8a;
        --img--b-radius:10%;
        --img--width:100%;
        --img--height:100%;
        --box--shadow:1px 1px 10px black;
        --border--bottom: 1px solid rgb(51, 71, 51) ;

}



